body{
    background-image: url("./background.png");
    background-repeat:no-repeat;
    background-size: cover;
}

#title{
    text-align: center;
}
#data {
    position: absolute;
    left: 10%;
    top: 13%;
    font-size: 20px;
}

#showbox {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#music {
    position: absolute;
    bottom: 5%;
    left: 18%;

    /* text-align: middle; */
    /* margin-top: 30px; */
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* padding-left: 200px; */
    /* padding-right: 200px; */
    background-color: transparent; 
    border-color: transparent;
    /* -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255,139,253,0);  */
    /* box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255,139,253,0); */
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #42d9ff 0px 0px 20px, #4245ff 0px 0px 30px, #4245ff 0px 0px 40px, #4245ff 0px 0px 50px, #FF2D95 0px 0px 75px;
    /* border: 3px double #4245ff; */
    /* border-radius: 3px; */
    /* color: #00004A; */
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
}

#music:hover{
    color:red;
}

img{
    height: 200px;
    position: absolute;
    left: 14%;
    bottom: 10%;
}

a:hover{
    color: red
}

.showbox {
    position: absolute;
    right: 10%
}



#autobiography {
    position: absolute;
    right: 80px;
    font-size: 20px;
}

#autobiography_title{
    position: absolute;
    right: 45%;
    top: -15px;
}

#audio {
    width: 30%;
    height: 30px;
    position: absolute;
    top: 20px;
    left:20px;

}

.hid {
    hidden: hidden;
}